body
{
 background-image: url(images/1393218.jpg);
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size:cover;
}
.content
{
    border-radius: 10px;
    height: 40px;
    width: 300px;
    font-size: 20px;
}
.form-group
{
    text-align: center;
}
label
{
    font-size: 30px;
    font-family:cursive;
    font-weight: bold;
    text-shadow: 2px 2px 2px dimgrey;
}
fieldset
{
    width:700px;
}
legend
{
    font-size: 50px;
    font-family: Algerian;
    text-shadow: 4px 4px 4px black;
    color:floralwhite;
}
.gender
{
    height: 20px;
    width: 20px;
    font-size: 25px;
}
button
{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px black;
}
.text-center
{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif  ;
    color: black;
    text-shadow: 2px 2px 2px rgb(167, 164, 164);
}
a
{
    color:blue;  
    text-decoration: none;
}
a:hover
{
    font-size: 33px;
}
.button1
{
    background-color: transparent;
    box-shadow: none;
    width:100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    transition-duration: 0.4s;
    border-radius: 24px 10px;
}
.button1:hover
{
    background-color: cadetblue;
    color:white;
    box-shadow:3px 3px 3px teal;
}
.button2
{
    background-color: transparent;
    box-shadow: none;
    width:150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    transition-duration: 0.4s;
    border-radius: 24px 10px;
}
.button2:hover
{
    background-color: cadetblue;
    color:white;
    box-shadow:3px 3px 3px teal;
}